<!DOCTYPE html>
<html>
<head>
    <title>{{ username }}'s Profile</title>
    <link rel="stylesheet" href="../static/css/profile.css" />
</head>
<body>
    <ul id="company_ul">
        <script type="text/javascript">
            var l = ({{ list |tojson }});
            var company_ul = document.getElementById("company_ul");
            var myHTML = '';
            for (var i = 0; i < l.length; i++) {
                myHTML += '<li><a href="/delete/' + l[i][0] + '">' + l[i][0] + '</a></li>';
            }
            company_ul.innerHTML = myHTML;
        </script>
    </ul>

    <form method="POST">
        <label for="name">Company Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="ticker">Stock Symbol:</label>
        <input type="text" id="ticker" name="ticker"><br><br>
        <button type="submit">Add Company</button>
    </form>


</body>
</html>